.footer__info{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top:20px;
    margin: 0;
}