@import './nav__item.css';
@import './nav__item--muted.css';
@import './nav__item--muted-bottom.css';
@import './nav__item--active.css';
.nav{
    display: block;
    position: fixed;
    visibility: hidden;
    list-style: none;
    text-align: center;
    background-color:rgb(44,71,85);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}