@media (max-width:1024px) {
    .services__block-card-figure{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 800px ;
    }
    .services__block-card{
        grid-area: 1 / 1 / 3 / 3;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
    .services__figures{
        grid-area: 1 / 3 / 3 / 5;
    }
    .services__card{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
    .services__card--grid--pos-one{
        grid-area: 1 / 1 / 3 / 2;
    }
    .services__card--grid--pos-two{
        grid-area: 3 / 1 / 5 / 2;
    }
    .services__card--grid--pos-three{
        grid-area: 5 / 1 / 7 / 2; 
    }
    .services__card--grid--pos-four{
        grid-area: 7 / 1 / 9 / 2; 
    }
}