@media (max-width:1024px) {
    .portfolio--size{
        height: 1700px;
    }
    .portfolio__cards{
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: repeat(3, 1fr);
    }
}